*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: rgb(231, 232, 238);
}

.texts{
    font-family: sans-serif;
    margin-top: 125px;
    margin-left: 255px;
    position: fixed;
}

.texts h1{
    font-size: 55px;
    color: #1877f2;
    font-weight: bolder;
    margin: 0 15px;
}
.texts h2{
    font-size: 26px;
    font-weight: 500;
    margin: 0 15px;
}

.form-body{
    height: 300px;
    width: 355px;
    background-color: white;
    margin-top: 125px;
    margin-left: 960px;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1),
                0 8px 16px rgba(0, 0, 0, 0.1); */
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
}
input{
    outline: none;
    /* border-radius: 0.5px solid rgb(238, 236, 236); */
    border-radius: 8px;
    font-size: 13px;
    margin: 12px;
    height: 48px;
    width: 300px;
    padding-left: 10px;
}
.login input[type="submit"]{
    height: 44px;
    width: 300px;
    /* border-radius: 1px solid black; */
    position: fixed;
    background-color: #1877f2;
    border-radius: 8px;
    margin-left: -312px;
    margin-top: 70px;
    justify-content: center;
    color: white;
    font-size: 16px;
    text-decoration: none;
}
.login a{
    color: white;
    font-size: 18px;
    align-items: center;
    margin-top: 12px;
    position: fixed;
    margin-left: -25px;
    text-decoration: none;
    

}
.forpass{
    margin-top: 60px;
}
.forpass a{
    text-decoration: none;
    font-size: 14px;
}
.border{
    width: 340px;
    /* border: 0.01px solid black; */
    height: 0.5px;
    margin-top: 25px;
    margin-left: 10px;
}
.create{
    margin-top: -10px;
    height: 40px;
    width: 300px;
    background-color: #00a400;
    margin-left: 28px;
    border-radius: 8px;
    align-items: center;
}
.create a{
    color: white;
    margin-top: 10px;
    position: fixed; 
    margin-left: -65px;
    font-size: 15px;
    text-decoration: none;
    text-justify: auto;
}
.forpage a{
    margin-top: 20px;
    color: black;
    position: fixed;
    margin-left: -150px;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
}
.forpage a:hover{
    border-bottom: 1px solid black;

}
/* .forpage h3{
    position: fixed;
    margin-left: 100px;
    margin-top: 39px;
    font-weight: 600;
    font-size: 15px;
} */
.fb-footer{
	background-color: #fff;
	height: 180px;
    width: 100%;
    margin-top: 320px;
}
.div-footer{
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	color: #737373;
	width: 980px;
	height: 130px;
	background-color: #fff;
	margin:0 auto;
	padding-top: 45px;
}
.div-footer a{
	padding: 0;
	margin: 0;
	color: #365899;
	text-decoration: none;
}
.div-footer a:hover{
	text-decoration: underline;
}
.div-footer ul{
	list-style: none;
	padding: 0px;
}
.div-footer li{
	display: inline-block;
	padding-left: 10px;
}
.ul1 li:first-child {
    padding-left: 0;
}
.ho-rule{
	border-bottom: 1px solid #dddfe2;
}
.ul2{
	margin-left: -20px;
	margin-top: 11px;
	margin-bottom: 16px;
}
.ul2:first-child{
	padding-left: 20px: 
}
.ul2 li{
	padding-left: 20px;
	line-height: 1.6;
}
p{
	font-size: 11px;
	font-weight: 400
}