<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Instragram</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"  type="text/css" href="{% static 'css/styles.css'%}">
</head>
<body>
    <nav class="navigation">
        <div class="navigation__column">
            <a href="{% url 'index' %}">
                <img src="{% static "images/logo.png" %}" />
            </a>
        </div>
        <div class="navigation__column">
                <i class="fa fa-search"></i>
            <input type="text" placeholder="Search">
        </div>
        <div class="navigation__column">
            <ul class="navigations__links">
                <li class="navigation__list-item">
                    <a href="#" class="navigation__link">
                        <i class="fa fa-compass fa-lg"></i>
                    </a>
                </li>
                <li class="navigation__list-item">
                    <a href="#" class="navigation__link">
                        <i class="fa fa-heart-o fa-lg"></i>
                    </a>
                </li>
                <li class="navigation__list-item">
                    <a href="{% url 'profile' %}" class="navigation__link">
                        <i class="fa fa-user-o fa-lg"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <main id="explore">
        <ul class="explore__users">
            <li class="explore__user">
                
                <div class="explore__user-column">
                    <img src="{% static "images/avatar.jpg" %}" class="explore__avatar"/>
                    <div class="explore__info">
                        <span class="explore__username">fourth_edtion</span>
                        <span class="explore__full-name">Sirawit B.</span>
                    </div>
                </div>
                <div class="explore__user-column">
                    <button>Follow</button>
                </div>
            </li>
            <li class="explore__user">
                    
                    <div class="explore__user-column">
                        <img src="{% static "images/avatar.jpg" %}" class="explore__avatar"/>
                        <div class="explore__info">
                            <span class="explore__username">seenktn</span>
                            <span class="explore__full-name">Krittinai P.</span>
                        </div>
                    </div>
                    <div class="explore__user-column">
                        <button>Follow</button>
                    </div>
                </li>
                
        </ul>
    </main>
    <footer class="footer">
            <div class="footer__column">
                <nav class="footer__nav">
                    <ul class="footer__list">
                        <li class="footer__list-item"><a href="#" class="footer__link">Help</a></li>
                        <li class="footer__list-item"><a href="#" class="footer__link">Press</a></li>
                        <li class="footer__list-item"><a href="#" class="footer__link">Api</a></li>
                        <li class="footer__list-item"><a href="#" class="footer__link">JOBS</a></li>
                        <li class="footer__list-item"><a href="#" class="footer__link">PRIVACY</a></li>
                        <li class="footer__list-item"><a href="#" class="footer__link">TERMS</a></li>
                        <li class="footer__list-item"><a href="#" class="footer__link">LOCATIONS</a></li>
                        <li class="footer__list-item"><a href="#" class="footer__link">TOP ACCOUNTS</a></li>
                        <li class="footer__list-item"><a href="#" class="footer__link">HASHTAGS</a></li>
                        <li class="footer__list-item"><a href="#" class="footer__link">LANGUAGE</a></li>
                    </ul>
                </nav>
            </div>
            <div class="footer__column">
                <span class="footer__copyright">© 2020 INSTRAGRAM FROM FACEBOOK</span>
            </div>
        </footer>
</body>
</html>